.header {
  display: grid;

  align-items: center;

  margin-bottom: 20px;

  padding-top: 7px;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  justify-items: left;
}

.hh-title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;

  align-items: center;
  justify-items: left;
}

.section + .section { margin-top: 50px; }

.section-title { margin-bottom: 20px; }

.product-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  margin: 0;
  padding: 0;

  list-style: none;
}
