.tag {
  display: inline-block;

  padding: 4px 10px;

  text-align: center;

  border-radius: 20px;

  font-weight: 600;
  line-height: 1.2;
}

.tag-sm { font-size: 12px; }

.tag-md { font-size: 14px; }

.tag-ghost {
  border: 1px solid var(--gray-light);
}

.tag-red,
.tag-gray { color: var(--white); }

.tag-red { background-color: #de0000; }

.tag-gray { background-color: #b3c0d9; }

.tag-green {
  color: var(--green-dark);
  background-color: var(--green-light);
}

.tag-primary {
  color: var(--primary);
  border: 1px solid var(--primary);
}
