html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background-color: var(--white);

  font: var(--font-size-base) var(--font-family);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --white: #fff;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --font-size-base: 16px;
  --font-family: "Noto Sans KR", sans-serif;
  --duration-base: 0.25s;
  --tablet-width: 765px;
}
