.tag-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.tag-list-item-sm {
  margin-right: 5px;
  margin-bottom: 5px;
}

.tag-list-item-md {
  margin-right: 10px;
  margin-bottom: 10px;
}
